<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>vue-router命名路由</title>
  <!--为路由规则指定名字，作用：使用名字实现路径跳转-->
</head>
<body>
<div id='my-vue'>
  <!--路由使用-->
  <router-link to="/user">user</router-link><!--router-link渲染为a标签,to渲染为href属性,/user的值渲染为#/user-->
  <router-link to="/register">register</router-link>

  <!--路由占位-->
  <router-view></router-view>

</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script type="text/javascript">
  const user = {
    template: `
      <div>
        <h1>user组件</h1>
        <button @click="goRegister">跳转到注册页面</button>
        <hr/>
      </div>`,
    methods: {
      goRegister: function () {
        // this.$router.push('/register')
        // this.$router.push({path: '/register'})
        this.$router.push("/register", {name: "lisi", age: "12"})
      }
    }
  }

  const register = {
    props: ['name', 'age'],
    template: `
      <div>
        <h1>register组件</h1>
        <h3>{{name + "---" + age}}</h3>
        <button @click="goBack">后退一步</button>
        <hr/>
        <router-link :to="{name:'tab',params:{id:'tab1'}}">tab1</router-link>
        <router-link :to="{name:'tab',params:{id:'tab2'}}">tab2</router-link>
        <router-link :to="{name:'tab',params:{id:'tab3'}}">tab3</router-link>
        <router-view></router-view>
      </div>`,
    methods: {
      goBack: function () {
        this.$router.go(-1)
      }
    }
  }

  const tab = {
    props: ['id', 'name', 'age'],
    template: `
      <div>
        <h3>{{id}}</h3>
        <h3>{{name + "---" + age}}</h3><!--/*传递对象类型参数时，id就无法再访问到,传递函数类型时，id还可以访问到*/-->
      </div>`
  }


  //声明路由
  var router = new VueRouter({
    routes: [
      {
        path: "/",
        redirect: "/user"
      }, {
        path: "/user",
        component: user
      }, {
        path: "/register",
        component: register,
        children: [
          {
            path: "/register/:id", component: tab, name: "tab", props: route => ({/*命名路由*/
              name: 'lisi', age: '12', id: route.params.id
            })
          }
        ]
      }]
  })

  var vm = new Vue({
    el: '#my-vue',//元素的挂载位置
    data: {//模型数据，是一个对象

    },
    //路由对象需挂载在vue对象上
    router: router/*可简写为router*/
  });
</script>

</body>
</html>
