<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>模板语法-样式绑定</title>
  <style type="text/css">
    .active {
      border: 1px solid red;
      width: 500px;
      height: 100px;
    }

    .active1 {
      border: 1px solid blue;
      width: 500px;
      height: 100px;
      position: absolute;
      top: 200px;
    }

    .error1 {
      background-color: orange;
    }

  </style>
</head>
<body>
<div id='my-vue'>
  <div class="active"/>

  <!--v-bind:class绑定样式，{active:isActive}为对象形式-->
  <div v-bind:class="{active1:isActive,error1:isError}"/>
  --------------------------对象形式控制------------------------------
  <input type="button" value="切换" @click="changeError">

  <br/>

  <div v-bind:class="[activeClass,errorClass]"/>
  --------------------------数组形式控制------------------------------
  <input type="button" value="切换" @click="changeArray">

  <!--  <div v-bind:class="arrayClasses"/>-->
  <!--  &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;数组形式控制优化&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
  <!--  <input type="button" value="切换" @click="changeArray">-->
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript">
  var vm = new Vue({
    el: '#my-vue',//元素的挂载位置
    data: {//模型数据，是一个对象
      isActive: true,
      isError: false,
      activeClass: 'active1',
      errorClass: 'error1',
      arrayClasses: ['active1', 'error1']
    },
    methods: {
      changeError: function () {
        this.isError = !this.isError
      },
      changeArray: function () {
        this.errorClass = ''
      }
    }
  });
</script>

</body>
</html>
