<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>vue-router基本使用</title>
</head>
<body>
<div id='my-vue'>
  <!--路由使用-->
  <router-link to="/user">user</router-link><!--router-link渲染为a标签,to渲染为href属性,/user的值渲染为#/user-->
  <router-link to="/register">register</router-link>

  <!--路由占位-->
  <router-view></router-view>

</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script type="text/javascript">
  const user = {
    template: `<h1>user组件</h1>`
  }

  const register = {
    template: `<h1>register组件</h1>`
  }

  //声明路由
  var router = new VueRouter({
    routes: [{
      path: "/user",
      component: user
    }, {
      path: "/register",
      component: register
    }]
  })

  var vm = new Vue({
    el: '#my-vue',//元素的挂载位置
    data: {//模型数据，是一个对象

    },
    //路由对象需挂载在vue对象上
    router: router/*可简写为router*/
  });
</script>

</body>
</html>
