<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>模板语法-侦听器</title>
  <!--侦听器监听数据，数据发生变化就通知侦听器锁绑定的方法-->
  <!--应用场景：数据变化时执行异步或开销较大的操作-->
</head>
<body>
<div id='my-vue'>
  <div>
    用户名：<input type="text" v-model="name">
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript">
  var vm = new Vue({
    el: '#my-vue',//元素的挂载位置
    data: {//模型数据，是一个对象
      name: ''
    },
    methods: {
      handle: function () {
      }
    },
    computed: {
      reverse: function () {

      }
    },
    watch: {}
  });
</script>

</body>
</html>
